/* Base & variables */
:root {
    --space-s: 10px;
    --space-m: 20px;
    --space-l: 40px;
    --border-radius-s: 10px;
    --border-radius-m: 15px;
    --border-radius-l: 20px;


    --color-accent: #125a5e;
    --color-accent-dark: #114463;
    --color-link: #3b9697;
    --color-main-navy: #1c1c39;
    --color-main-navy-dark: #0b0b1d;
    --color-main-yellow: #bfba42;
    --color-main-yellow-darker: #726d39;
    --color-main-yellow-desaturated: #b9b696;
    --color-separator: gray;
    --color-shadow-default: rgba(0, 0, 0, 0.5);
    --color-text-border: #125a5e;
    --color-text: #868486;
    --color-text-light: lightgray;
    --color-text-dark: #575557;
    --shadow-header: 0 2px 2px var(--color-main-navy-dark);
    --shadow-footer: 0 -2px 2px var(--color-main-navy-dark);
    --shadow-main: 0 0 10px;
}

* {
    font-family: "Roboto Light";
}

a {
    color: var(--color-link);
    text-decoration: none;
}

body {
    background-image: url("../images/465137_4131809_updates_blurred.jpg");
    background-color: #cccccc; /* used if the image is unavailable */
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;                 /* remove default margin */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius-s);
    background: var(--color-text);
    padding: var(--space-s);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

button.wide {
    width: 80%;
    border-radius: var(--border-radius-m);
}

button.second-choice {
    background: #435b5e;
    font-size: 16px;
    margin-top: var(--space-s);
}

button:hover {
    background: #726e73;
}

footer {
    box-shadow: var(--shadow-footer);
    background: var(--color-main-navy-dark);
    width: 100%;
}

.app-name-text {
    text-shadow: -1px 0 var(--color-text-border), 0 1px var(--color-text-border), 1px 0 var(--color-text-border), 0 -1px var(--color-text-border), 2px 2px 20px white;
    font-size: 50px;
    font-family: "Yu Gothic UI Semibold";
}

footer > * {
    padding: var(--space-m);
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-m);
}

.footer-links h5 {
    font-size: 18px;
    margin: 10px 0;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
}

.form-buttons-etc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--space-m);
    width: 100%;
}

.form-container {
    background: white;
    box-shadow: var(--shadow-main) var(--color-shadow-default);
    border-radius: var(--border-radius-l);
    padding: var(--space-m);
}

.form-container h1 {
    text-align: center;
    margin-bottom: var(--space-s);
}

.form-additional-text {
    margin: 0;
    padding: 15px 0 7px 0;
}

a.form-additional-text {
    color: #4e6191
}

.form-login-or-register {
    flex-direction: column;
    justify-content: center;
}

.form-inputs-container {
    display: flex;
    flex-direction: column;
}

.form-input-group {
    margin-bottom: var(--space-m);
}

.form-inputs-container input {
    font-size: 18px;
    padding: var(--space-s);
    border-radius: var(--border-radius-s);
    margin-bottom: var(--space-s);
}

header {
    box-shadow: var(--shadow-header);
    background: var(--color-main-navy-dark);
    width: 100%;
}

input[type="checkbox"]:checked {
    accent-color: var(--color-main-yellow);
}

.link-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}

.link-group h5 {
    color: var(--color-text-light);
}

.list-unstyled li {
    list-style: none;
    padding-bottom: var(--space-s);
}

.list-unstyled a:hover {
    color: #498183;
}

.login-or-register-button {
    background: var(--color-accent);
}

.login-or-register-button:hover {
    background: var(--color-accent-dark);
}

.logo-img {
    width: 75px;
    height: 75px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;            /* cover all remaining space between header and footer */

    padding: var(--space-m);
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--border-radius-l);
    background: var(--color-main-navy-dark);
    box-shadow: var(--shadow-main) var(--color-shadow-default);
}

.main-content > * {
    margin: var(--space-m);
}

.media-block {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    padding: var(--space-m);
}

.media-block:hover {
    background-color: var(--color-main-navy);
}

.media-block:hover.separator {
    background-color: var(--color-main-navy-dark);
}

.media-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-left: 1px solid var(--color-main-navy);

    width: 30%;
}

.media-rating h1 {
    color: var(--color-main-yellow);
}

.media-rating .rating-stars {
    color: gold;
}

.media-summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 80%
}

.media-summary h1 {
    font-size: 250%;
    margin: var(--space-s) 0 var(--space-s) 0;
}

.media-summary h3 {
    margin: var(--space-s) 0 var(--space-s) 0;
}

.media-summary .production-date {
    color: var(--color-text-dark);
}

.media-summary p {
    font-size: 120%;
    margin: var(--space-s) 0 var(--space-s) 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--space-m);
}

.navbar-text-button {
    color: var(--color-text);
    font-size: 20px;
}

.navbar-main-buttons {
    display: flex;
    align-items: center;
    gap: var(--space-m);
}

.media-block {
    display: flex;
}

.media-poster {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: var(--border-radius-m);
    box-shadow: var(--shadow-main) var(--color-shadow-default);
    margin-right: var(--space-m);
}

.rating-scale {
    font-size: 150%;
    color: var(--color-main-yellow-darker);
}

.rating-score {
    font-size: 200%;
}

.rating-stars {
    color: gold;
    font-size: 200%;
}

select {
    background-color: var(--color-main-yellow-desaturated);
}

.separator {
    margin: var(--space-m) 0;
    width: 100%;
    border: none;
    height: 1px;
    background-color: var(--color-main-navy);
}

.separator-bright {
    background-color: var(--color-separator);
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;

    background: var(--color-main-navy-dark);
    border-radius: var(--border-radius-l);
    box-shadow: var(--shadow-main) var(--color-shadow-default);
    padding: var(--space-m);
}

.sidebar-left {
    margin-right: var(--space-l);
}

.text-main {
    color: var(--color-text);
}

#app-summary {
    width: 500px;
}

#app-summary p {
    font-size: 20px;
}

ul {
    padding: 0;
}
