main {
    padding: 50px 50px 100px;
}

.main-content {
    display: flex;
    flex-direction: column;

    background: var(--color-main-yellow);
    box-shadow: var(--shadow-main) var(--color-main-yellow-darker);
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-firstname-lastname {
    display: flex;
    gap: 15px;
}





